.header {
  display: flex;
  flex-direction: row;

  .header-start {
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .header-center {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-end {
    flex: 1;
  }
}
