.component {
  background-color: #99999950;
  flex: auto;
  padding: 1rem;
  &:hover {
    background-color: #99999980;
    cursor: pointer;
  }
  &.title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.ant-tabs-content,
.ant-tabs-tabpane {
  height: 100%;
}

.question-menu-item {
  padding: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  &.selected {
    border: 1px solid blue;
    border-radius: 5px;
  }
}
